.Outside {
    padding-top: 5vh;
    padding-bottom: 2vh;
    padding-left: 2.25vw;
    padding-right: 2.25vw;
    height: 100vh;
}

.SubjectName {
    display: flex;
    align-items: center;
    font-size: 1.75vw;
    margin-bottom: 5vh;
}

.YearSelect {
    text-align: center;
}

.InstitutionRankings {
    margin-top: 5vh;
}

.TableHeaders {
    font-size: 1.75vw;
    font-weight: 400;
}

.Institution {
    cursor: pointer;
}

.Institution:hover {
    background-color: white;
}

.InstitutionSelected {
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.Arrow {
    text-align: right;
}

.AuthorRanks {
    border-left: 1px solid rgba(112, 112, 112, 0.25);
}