/* Collapse or no? If no, change all font-sizes back to 2.5vh/relative amount */
.NavBar {
  background-color: var(--sidebar-color);
}

.Logo {
  width: 10vw;
  min-width: 120px;
}

.Dropdown {
  padding-left: 1vw;
  padding-right: 1vw;
  width: 20vw;
}

.SubjectLink {
  font-size: 23px;
  margin-left: 1vw;
}

.SubjectLinkActive {
  font-size: 23px;
  margin-left: 1vw;
  color: rgba(255, 255, 255, 0.75);
}

.RightSideNavLinks {
  align-items: center;
}

.AboutLink {
  font-size: 23px;
  margin-right: 1vw;
}

.GitHubLogoIcon {
  opacity: 0.5;
  width: 1.5vw;
  height: 1.5vw;
  margin-right: 1vw;
}

.GitHubLogoIcon:hover {
  opacity: 1;
}