.Main {
  height: 100vh;
}

.Sidebar {
  background-color: var(--sidebar-color);
  color: var(--sidebar-active-text-color); /* will have to remove/change this to account for hovering */
  width: 20.5vw;
  max-width: 20.5vw;
}

.Title {
  border-bottom: 1px solid rgba(112, 112, 112, 0.25);
  text-align: center;
  padding-top: 2.75vh;
  padding-bottom: 2.75vh;
}

.Title-Logo {
  width: 15vw;
  height: auto;
}

.Sidebar-Links {
  /*background-color: thistle;*/
  font-size: 2.5vh;
  color: var(--sidebar-inactive-text-color);
}

.Main-Link-Icon {
  opacity: 0.5;
  height: 2.5vh;
  width: auto;
  margin-left: 1.25vw;
}

.Main-Link {
  margin-top: 5vh;
}

.Subject-Link {
  margin-top: 2vh;
  text-indent: 1vw;
}

/*
.App-header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
*/

.GitHub-Logo {
  text-align: center;
  background-color: teal;
  position: absolute; /* change the positioning css on this to make it not absolute. justify-content, align-content, align-self, align-items? */
  bottom: 0vh; /* change the positioning css on this to make it not absolute. justify-content, align-content, align-self, align-items? */
}